# Ignore all
*

# Unignore all with extensions
!*.*

# Unnecessary folders and hidden files
build/
matrix_convolution_rtl/
ip_repo/
!ip_archive/
!ip/
!rtl/
!sim/
!waveform/
!diagrams
!esl/
.*
rtl/conv2*

#files being edited
*~

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym

# C++ gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# I keep these, since I prefer having the reference of the final build
# *.elf
# *.hex
